In [2]:
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = sns.load_dataset('iris')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
encoder = LabelEncoder()
df['species'] = encoder.fit_transform(df['species'])

In [7]:
df.sample(8)

     sepal_length  sepal_width  petal_length  petal_width  species
84            5.4          3.0           4.5          1.5        1
149           5.9          3.0           5.1          1.8        2
96            5.7          2.9           4.2          1.3        1
91            6.1          3.0           4.6          1.4        1
29            4.7          3.2           1.6          0.2        0
147           6.5          3.0           5.2          2.0        2
66            5.6          3.0           4.5          1.5        1
49            5.0          3.3           1.4          0.2        0

In [8]:
df = df[['sepal_length','petal_length','species']]

In [9]:
df.head()

   sepal_length  petal_length  species
0           5.1           1.4        0
1           4.9           1.4        0
2           4.7           1.3        0
3           4.6           1.5        0
4           5.0           1.4        0

In [10]:
X = df.iloc[:,0:2]
y = df.iloc[:,-1]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=2)

In [15]:
clf = LogisticRegression(multi_class='multinomial')
# softmax

In [20]:
clf.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial')

In [21]:
y_pred = clf.predict(X_test)

In [22]:
print(accuracy_score(y_test,y_pred))

0.9666666666666667

In [23]:
pd.DataFrame(confusion_matrix(y_test,y_pred))

    0  1  2
0  14  0  0
1   0  7  1
2   0  0  8

In [24]:
# prdiction
query = np.array([[3.4,2.7]])
clf.predict_proba(query)

C:\Users\Gaurav\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([[7.25957888e-01, 2.73627865e-01, 4.14246954e-04]])

In [25]:
clf.predict(query)

C:\Users\Gaurav\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0])